<div class="container">
    <form role="form">
        <div class="control-group" ng-class="{true: 'error'}[submitted && form.$invalid]">
            <div class="form-group">
                <label for="userEmail">User Email:</label>
                <input type="email" class="form-control" id="userEmail" required ng-model="formData.userEmail">
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" required ng-model="formData.firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" required ng-model="formData.lastName">
            </div>
            <div class="form-group">
                <label for="team">Team:</label>
                <input type="text" class="form-control" id="team" required ng-model="formData.team">
            </div>
            <div class="form-group">
                <label for="designation">Designation: </label>
                <select ng-model="formData.designation" ng-options="designation.Id as designation.Value for designation in designations"></select>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
               <label class="radio-inline" ng-repeat="gender in genders">
                    <input type="radio" ng-model="formData.gender" value="{{gender.Id}}" >{{gender.Value}}
                </label>
            </div>
            <div class="form-group">
                <label for="currentAddress">Current Address:</label>
                <input type="textarea" class="form-control" id="currentAddress" required ng-model="formData.currentAddress">
            </div>
            <div class="form-group">
                <label for="permanentAddress">Permanent Address:</label>
                <input type="textarea" class="form-control" id="permanentAddress" required ng-model="formData.permanentAddress">
            </div>
            <div class="form-group">
                <label for="personalEmail">Personal Email:</label>
                <input type="email" class="form-control" id="personalEmail" required ng-model="formData.personalEmail">
            </div>
            <div class="form-group">
                <label for="contactNo">Contact No:</label>
                <input type="text" class="form-control" id="contactNo" required ng-model="formData.contactNo">
            </div>
            <div class="form-group">
                <label for="emergenyCntctNo">Emergency Contact No:</label>
                <input type="text" class="form-control" id="emergenyCntctNo" required ng-model="formData.emergenyCntctNo">
            </div>
            <div class="form-group">
                <label for="emergencyCntctName">Name of Emergency Contact:</label>
                <input type="text" class="form-control" id="emergencyCntctName" required ng-model="formData.emergencyCntctName">
            </div>
            <div class="form-group">
                <label for="relationWithEmrgncyCntct">Relation with Emergency Contact:</label>
                <select ng-model="formData.relationWithEmrgncyCntct" ng-options="relation.Id as relation.Value for relation in relations"></select>
            </div>
            <div class="form-group">
                <label for="bloodGrp">Blood Group:</label>
                <input type="text" class="form-control" id="bloodGrp" required ng-model="formData.bloodGrp">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" class="form-control" id="dob" required ng-model="formData.dob">
            </div>
            <div class="form-group">
                <label for="nominee">Nominee:</label>
                <input type="text" class="form-control" id="nominee" required ng-model="formData.nominee">
            </div>
            <div class="form-group">
                <label for="relationWithNominee">Relation with Nominee:</label>
                <select ng-model="formData.relationWithNominee" ng-options="relation.Id as relation.Value for relation in relations"></select>
            </div>
            <div class="form-group">
                <label for="skypeId">Skype ID:</label>
                <input type="text" class="form-control" id="skypeId" required ng-model="formData.skypeId">
            </div>
            <div class="form-group">
                <label for="passportNo">Passport No:</label>
                <input type="text" class="form-control" id="passportNo" required ng-model="formData.passportNo">
            </div>
            <div class="form-group">
                <label for="passportIssueDate">Passport Issue Date:</label>
                <input type="date" class="form-control" id="passportIssueDate" required ng-model="formData.passportIssueDate">
            </div>
            <div class="form-group">
                <label for="passportExpiryDate">Passport Expiry Date:</label>
                <input type="date" class="form-control" id="passportExpiryDate" required ng-model="formData.passportExpiryDate">
            </div>
            <div class="form-group">
                <label for="passportIssuePlace">Passport Issue Place:</label>
                <input type="text" class="form-control" id="passportIssuePlace" required ng-model="formData.passportIssuePlace">
            </div>
            <div class="form-group">
                <label for="panNo">PAN No:</label>
                <input type="text" class="form-control" id="panNo" required ng-model="formData.panNo">
            </div>
            <div class="form-group">
                <label for="maritalStatus">Marital Status:</label>
                <label class="radio-inline" ng-repeat="status in maritalStatus">
                    <input type="radio" value="{{status.Id}}" ng-model="formData.maritalStatus">{{status.Value}}
                </label>
            </div>
            <div class="form-group">
                <label for="children1">Children1:</label>
                <input type="text" class="form-control" id="children1" ng-model="formData.children1">
            </div>
            <div class="form-group">
                <label for="children2">Children 2:</label>
                <input type="text" class="form-control" id="children1" ng-model="formData.children2">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="dateOfJoining">Date of joining: </label>
                <input type="date" class="form-control" id="dateOfJoining" ng-model="formData.dateOfJoining">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="bankAccountNo">Bank Account Number: </label>
                <input type="text" class="form-control" id="bankAccountNo" ng-model="formData.bankAccountNo">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="repotingHead">Reporting Head:</label>
                <select ng-model="formData.repotingHead" ng-options="head.Id as head.Name for head in reportingHeads"></select>
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="pfNo">PF Number: </label>
                <input type="text" class="form-control" id="pfNo" ng-model="formData.pfNo">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="uan">UAN: </label>
                <input type="text" class="form-control" id="uan" ng-model="formData.uan">
            </div>
            
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
    </form>
</div>