<div class="container">
    <div class="row bg-info" ng-show="showMessage()">
        <p style="margin: 5px 30px;">{{message}}</p>
    </div>
    <form role="form">
        <div class="control-group" ng-class="{true: 'error'}[submitted && form.$invalid]">
            <div class="form-group">
                <label for="UserEmail">User Email:</label>
                <input type="email" class="form-control" id="UserEmail" required ng-model="formData.UserEmail">
            </div>
            <div class="form-group">
                <label for="FirstName">First Name:</label>
                <input type="text" class="form-control" id="FirstName" required ng-model="formData.FirstName">
            </div>
            <div class="form-group">
                <label for="LastName">Last Name:</label>
                <input type="text" class="form-control" id="LastName" required ng-model="formData.LastName">
            </div>
            <div class="form-group">
                <label for="Team">Team:</label>
                <input type="text" class="form-control" id="Team" required ng-model="formData.Team">
            </div>
            <div class="form-group">
                <label for="Designation">Designation: </label>
                <select ng-model="formData.Designation">
                    <option value="0">Select One</option>
                    <option ng-repeat="designation in designations" value="{{designation.Id}}" ng-selected="{{formData.Designation==designation.Id}}">{{designation.Value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <label class="radio-inline" ng-repeat="gender in genders">
                    <input type="radio" ng-model="formData.Gender" value="{{gender.Id}}">{{gender.Value}}
                </label>
            </div>
            <div class="form-group">
                <label for="CurrentAddress">Current Address:</label>
                <input type="textarea" class="form-control" id="CurrentAddress" required ng-model="formData.CurrentAddress">
            </div>
            <div class="form-group">
                <label for="PermanentAddress">Permanent Address:</label>
                <input type="textarea" class="form-control" id="PermanentAddress" required ng-model="formData.PermanentAddress">
            </div>
            <div class="form-group">
                <label for="PersonalEmail">Personal Email:</label>
                <input type="email" class="form-control" id="PersonalEmail" required ng-model="formData.PersonalEmail">
            </div>
            <div class="form-group">
                <label for="ContactNo">Contact No:</label>
                <input type="text" class="form-control" id="ContactNo" required ng-model="formData.ContactNo">
            </div>
            <div class="form-group">
                <label for="EmergencyContactNo">Emergency Contact No:</label>
                <input type="text" class="form-control" id="EmergencyContactNo" required ng-model="formData.EmergencyContactNo">
            </div>
            <div class="form-group">
                <label for="NameOfEC">Name of Emergency Contact:</label>
                <input type="text" class="form-control" id="NameOfEC" required ng-model="formData.NameOfEC">
            </div>
            <div class="form-group">
                <label for="RelationWithEC">Relation with Emergency Contact:</label>
                <!--<select ng-model="formData.RelationWithEC" ng-options="relation.Id as relation.Value for relation in relations"></select>-->
                <select ng-model="formData.RelationWithEC">
                    <option value="0">Select One</option>
                    <option ng-repeat="relation in relations" value="{{relation.Id}}" ng-selected="{{formData.RelationWithEC==relation.Id}}">{{relation.Value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="BloodGroup">Blood Group:</label>
                <input type="text" class="form-control" id="BloodGroup" required ng-model="formData.BloodGroup">
            </div>
            <div class="form-group">
                <label for="DOB">Date of Birth:</label>
                <input type="text" class="form-control" id="DOB" required ng-model="formData.DOB">
            </div>
            <div class="form-group">
                <label for="Nominee">Nominee:</label>
                <input type="text" class="form-control" id="Nominee" required ng-model="formData.Nominee">
            </div>
            <div class="form-group">
                <label for="RelationWithNominee">Relation with Nominee:</label>
                <!--<select ng-model="formData.RelationWithNominee" ng-options="relation.Id as relation.Value for relation in relations"></select>-->
                <select ng-model="formData.RelationWithNominee">
                    <option value="0">Select One</option>
                    <option ng-repeat="relation in relations" value="{{relation.Id}}" ng-selected="{{formData.RelationWithNominee==relation.Id}}">{{relation.Value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="SkypeID">Skype ID:</label>
                <input type="text" class="form-control" id="SkypeID" required ng-model="formData.SkypeID">
            </div>
            <div class="form-group">
                <label for="PassportNumber">Passport No:</label>
                <input type="text" class="form-control" id="PassportNumber" required ng-model="formData.PassportNumber">
            </div>
            <div class="form-group">
                <label for="PassportIssueDate">Passport Issue Date:</label>
                <input type="text" class="form-control" id="PassportIssueDate" required ng-model="formData.PassportIssueDate">
            </div>
            <div class="form-group">
                <label for="PassportExpiryDate">Passport Expiry Date:</label>
                <input type="text" class="form-control" id="PassportExpiryDate" required ng-model="formData.PassportExpiryDate">
            </div>
            <div class="form-group">
                <label for="PassportIssuePlace">Passport Issue Place:</label>
                <input type="text" class="form-control" id="PassportIssuePlace" required ng-model="formData.PassportIssuePlace">
            </div>
            <div class="form-group">
                <label for="PanCard">PAN No:</label>
                <input type="text" class="form-control" id="PanCard" required ng-model="formData.PanCard">
            </div>
            <div class="form-group">
                <label for="MaritalStatus">Marital Status:</label>
                <label class="radio-inline" ng-repeat="status in maritalStatus">
                    <input type="radio" value="{{status.Id}}" ng-model="formData.MaritalStatus">{{status.Value}}
                </label>
            </div>
            <div class="form-group">
                <label for="Children1">Children1:</label>
                <input type="text" class="form-control" id="Children1" ng-model="formData.Children1">
            </div>
            <div class="form-group">
                <label for="Children2">Children 2:</label>
                <input type="text" class="form-control" id="Children2" ng-model="formData.Children2">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="DOJ">Date of joining: </label>
                <input type="text" class="form-control" id="DOJ" ng-model="formData.DOJ">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="BankAccountNumber">Bank Account Number: </label>
                <input type="text" class="form-control" id="BankAccountNumber" ng-model="formData.BankAccountNumber">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="ReportingHead">Reporting Head:</label>
                <!--<select ng-model="formData.ReportingHead" ng-options="head.Id as head.Name for head in reportingHeads"></select>-->
                <select ng-model="formData.ReportingHead">
                    <option value="0">Select One</option>
                    <option ng-repeat="head in reportingHeads" value="{{head.Id}}" ng-selected="{{formData.ReportingHead==head.Id}}">{{head.Name}}</option>
                </select>
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="PFNo">PF Number: </label>
                <input type="text" class="form-control" id="PFNo" ng-model="formData.PFNo">
            </div>
            <div class="form-group" ng-show="checkRole()">
                <label for="UAN">UAN: </label>
                <input type="text" class="form-control" id="UAN" ng-model="formData.UAN">
            </div>

        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
    </form>
</div>