<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	
	<title>Feedbacks</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="">
</head>

<body>

	<div id="page-wrap">

	<h2>Feedbacks</h2>
		
	<table ng-show="archivedFeedbacks.length">
		<tr>
			<th>S.No.</th>
			<th>Subject</th>
			<th>Description</th>
			<th>Posted On</th>
			<th>Status</th>
		</tr>
		<tr class="rowClick" ng-repeat="feedback in archivedFeedbacks" ng-click="getFeedbackById(feedback.FeedbackId.value)">
			<td>{{$index+1}}</td>
			<td>{{feedback.Subject.value}}</td>
			<td>{{feedback.Description.value}}</td>
			<td>{{feedback.FeedbackDateTime.value|date:'medium'}}</td>
			<td>{{feedback.Resolve.value==0?'Not resolved':'Resolved'}}</td>
		</tr>
	</table>
	
	<div ng-show="archivedFeedbacks.length==0">
		There are no archived feedbacks.
	</div>
	
	</div>
		
</body>

</html>