<div class="col-sm-12">

    <div class="clearfix"></div>
    <div class="cell-marginT-2x">

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>New Feedback</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form form-vertical" name="feedbackForm">
                            <div class="control-group">
                                <label>Subject<span class="text-danger">*</span></label>
                                <div class="controls">
                                    <input type="text" name="subject" class="form-control" placeholder="Enter Subject" ng-model="feedback.subject" required>
                                    <span ng-show="feedbackForm.subject.$error.required && feedbackForm.subject.$dirty" class="text-danger">Required*</span>
                                </div>
                                <div class="control-group">
                                    <label>Description<span class="text-danger">*</span></label>
                                    <div class="controls">
                                        <textarea class="form-control" name="description" placeholder="Enter Description" ng-model="feedback.description" required></textarea>
                                        <span ng-show="feedbackForm.description.$error.required && feedbackForm.description.$dirty" class="text-danger">Required*</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>Email id<span class="text-danger">*</span></label>
                                    <div class="controls">
                                        <input type="email" name="email" class="form-control" placeholder="Enter Email" ng-model="feedback.email" required>
                                        <span ng-show="feedbackForm.email.$error.required && feedbackForm.email.$dirty" class="text-danger">Required*</span>
                                        <span ng-show="!feedbackForm.email.$error.required && feedbackForm.email.$error.email && feedbackForm.email.$dirty" class="text-danger">Invalid Email</span>
                                    </div>
                                    <div class="control-group">
                                        <label></label>
                                        <div class="controls">
                                            <button type="submit" ng-click="submitFeedback()" class="btn btn-primary">
                                            Submit
                                        </button>
                                        </div>
                                    </div>
                        </form>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Track Existing Feedback</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form form-vertical">
                                <div class="control-group">
                                    <label>Feedback Id</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="Enter Id">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label></label>
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div>