    <!--<div class="jumbotron text-center">
    <h4>Your annual review is pending.Please fill and submit your review form till July 30,2016.</h4>
  <div>
      <div class="container">
           <div class="row">
               <div class="col-sm-4">
    <button type="button"  ng-click="click('lg')" >
        Review
    </button>
               </div>
    <button type="button"  >
       TL Review Pending
    </button>
    <button type="button"  >
       HR Review Pending
    </button>
    </div>
      </div>-->
      <div class="jumbotron text-center">
   <h4>Your annual review is pending.Please fill and submit your review form till July 30,2016.</h4>
</div>
  
<div  class="container">
  <div class="row">
    <div align="center" class="col-sm-4">
      <h3>Employee:</h3>
       <button type="button" class="btn btn-primary" ng-click="click()" >
        Review
    </button>
    </div>
   
    <div align="center" class="col-sm-4">
      <h3>Team Lead:</h3>
      <button id="reviewTL" type="button" disabled="true" class="btn btn-primary" >
        Review 
    </button>
     <button id="remindTL" type="button" disabled="true" class="btn btn-primary" >
     Remind
    </button>
    </div>
    
    <div align="center" class="col-sm-4">
      <h3>HR Management:</h3>
      <button id="reviewHR" class="btn btn-primary" disabled="true" type="button"  >
        Review 
    </button>
     <button id="remindHR" class="btn btn-primary" disabled="true"  type="button"  >
     Remind
    </button>
    </div>
  </div>
</div>

    