<form name = "myForm" >
<div class="modal-header">
  <h1>Employee Review Form </h1>
</div>
<div style="overflow:scroll; height:500px;"" class="modal-body">


  <div class="form-horizontal">
    <div class="row" ng-repeat="question in questions"  value="{{question.id}}">

      <div class="col-md-10" align="Left">
        <h5><b>{{question.name}}</b></h5>

        <div class="form-horizontal">
          <div class="row">

            <div class="col-md-2" align="Left">
              <h6><b>Comments:</b></h6>
            </div>

            <div class="col-md-10" align="Left">
              <input size="70" id="inputsm"  type="text">
            </div>


          </div>
        </div>

      </div>

      <div class="col-md-2" align="center">
        <select  name="select" required ng-model="data.singleSelect[question.id]">
          <option  value="" >-- Select --</option>
       <option ng-repeat="rating in ratings"  value="{{rating.number}}">{{rating.number}}</option>
       </select>

      </div>


    </div>


  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Submit</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>