<div class="container">
    <form name="upload_form">
        
  <div class="form-group">
            <select ng-model="SelMonth">
                    <option value="">Select Month</option>
                    <option value="01">Jan</option>
                    <option value="02"> Feb</option>
                    <option value="03">March</option>
                    <option value="04">Apirl</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                </select>
                <select ng-model="SelYear">
                    <option value="">Select Year</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                </select>
        </div>

        <div class="form-group">
            <label for="UserEmail">Select File</label>
            <input type="file" ngf-select ng-model="file" name="file" ngf-max-size="20MB" id="myfile" />
        </div>
        <div class="form-group">
            <i ng-show="upload_form.file.$error.required">*required</i>
            <br>
            <i ng-show="upload_form.file.$error.maxSize">File too large 
            {{file.size / 1000000|number:1}}MB: max 20M</i>
            <button type="submit" ng-click="submit()">submit</button>
            <p>{{progress}}</p>
        </div>




    </form>

</div>