<style>
    .datepicker.dropdown-menu {
        z-index: 4000 !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Apply CompOff</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <form class="form form-horizontal" name="applyCompOffForm">
                <div class="form-group">
                    <label class="control-label col-sm-2">Date:<span class="text-danger">*</span></label>
                    <div class="col-sm-3">
                        <olca-date id="CompOffDate" min-date="startMin" date-options="dateOptions" input-value="CompOffData.CompOffDate" input-name="startDate" date-required="true" date-changed="resetResults()" date-click="open($event)" show-cal="true"></olca-date>
                        <!-- <olca-date min-date="startMin2" date-options="dateOptions" input-value="startDateDisplay1" input-name="startDate" date-required="true" date-changed="resetResults1()" date-click="open1($event)"></olca-date>-->
                        <!-- <input type="date" ng-model="CompOffDate" name="date" required>-->
                        <span ng-show="applyCompOffForm.date.$error.required && applyCompOffForm.date.$dirty" class="text-danger">Required*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">CompOff Reason:<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <textarea style="width: 25%;" rows="3" ng-model="CompOffData.compOffReason" name="compOffReason" required></textarea>
                        <span ng-show="applyCompOffForm.compOffReason.$error.required && applyCompOffForm.compOffReason.$dirty" class="text-danger">Required*</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-sm" ng-click="submit()" ng-disabled="!applyCompOffForm.$valid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <!--CompOff Date:
          <label for="popup" class="btn btn-default" ng-model="CompOffDate"><i class="glyphicon glyphicon-calendar"></i></label>
        <input type="date" ng-model="CompOffDate"> CompOff Reason:
        <input type="textarea" ng-model="CompOffReason">-->

    </div>
    <div class="modal-footer">

    </div>
</div>