<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Apply LEave</h4>
    </div>
    <div class="modal-body">
        From Date:
      <!--  <label for="popup" class="btn btn-default" ng-model="CompOffDate"><i class="glyphicon glyphicon-calendar"></i></label>-->
        <input type="date" ng-model="FromDate"> 
        To  Date:
        <input type="date" ng-model="ToDate">
        
          Reason:
        <input type="textarea" ng-model="LReason">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()">Save</button>
    </div>
</div>