<style>
    .datepicker.dropdown-menu {
        z-index: 4000 !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">CompOff</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label>As per the new Rules, No CompOffs will be given to Employees. Effective from 1st July 2017</label>
                </div>
            </div>
        </div>
        <!--CompOff Date:
          <label for="popup" class="btn btn-default" ng-model="CompOffDate"><i class="glyphicon glyphicon-calendar"></i></label>
        <input type="date" ng-model="CompOffDate"> CompOff Reason:
        <input type="textarea" ng-model="CompOffReason">-->

    </div>
    <div class="modal-footer">

    </div>
</div>